html , body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* https://cssgradient.io/ */
body {
    font-family: Arial;
    height: 100vh;
    overflow: scroll;
    background: linear-gradient(to bottom right, rgba(241,249,253,1) 0%, rgba(254,186,115,1) 47%, rgba(255,170,170,1) 100%);
}

.header {
    border: 0px solid rgb(145, 162, 196);
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 25vh;
    width: 100%;
    background-image: url(./term3_1_1.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 10px;
    position: absolute;
    /* position: fixed; */
    top: 0;
}

.photo {
    align-self: center;
    width: 18vh;
    height: 18vh;
    justify-content: center;
    /* border-radius: 50%; */
}

.photo_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.full_name {
    height: 25%;
    margin-bottom: 2%;
    width: 22%;
    font-family: 'Open Sans', 'Arial-black';
    font-size:2vh; /* Browsers that do not support calc ()" functions will take this value.*/
    font-size:calc(5px + 0.8vw);
    text-align:right;
    font-weight: 700;
}

.contacts {
    height: 25%;
    margin-bottom: 3%;
    width: 22%;
    line-height: 1.5;
    font-size: 1.2vh; /* Browsers that do not support calc ()" functions will take this value.*/
    font-size:calc(8.5px + 0.2vw);
}

.contacts--list {
    list-style: none;
}

.bi {
    margin-right: 5px;
    color: black;
}

a.knopka {
    color: rgb(158, 164, 175); /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgba(68, 77, 99, 0.623); /* фон кнопки */
    outline: none; /* убирать контур в Mozilla */
    width: 22px;
    height: 15px;
    padding: 2px;
    /* position: fixed; */
    position: absolute;
    border: 2px outset rgba(107, 142, 175, 0.808);
  } 

.main_part {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    padding-top: 26.15vh;
    font-size: 1.5vh; /* Browsers that do not support calc ()" functions will take this value.*/
    font-size:calc(12px + 0.3vw);
    color:rgba(26, 19, 18, 0.726);
}

.main_part > div {
    width: 50%;
    flex-direction: column;
}

.left_column {
    border: 0px solid rgb(145, 162, 196);
    border-right-width: 1px;
}

.main_part > div > div{
    margin: 1px;
    margin: 1vh;
}

h3 {
    background: #91b8bb73;
}